body, html {
    width: 100%;
    height: 100%;
}
body {
    padding: 1%;
    border: 10px solid black;
    background-color: lightblue;
    
}
li {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;    
}
.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: lightblue;
}
.title {
    font-size: 32px;
    text-align: center;
}
.box {
    border-radius: 20px;
    padding: 2px;
    background-color: orangered;
    margin-top: 50px;
    vertical-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.text {
    color: #fff;
    text-align: center;
    padding: 6px;

}
.wrapear-image {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.text-footer {
    font-size: 32px;
    margin-top: 30px;
    text-align: center;
}

